<p>login works!</p>

<div class="row">
    <div class="col-3">
      <form class="form-group" [formGroup]="loginformgroup" (ngSubmit)="login()" >
         User Name : <input type="text" class="form-control" formControlName="username" > <br/>
         Password : <input type="password" class="form-control  form-control-sm" formControlName="password"> <br/>
        <input type="submit" value="login" class="btn btn-outline-primary m-2">
        <input type="reset" value="clear" class="btn btn-info">
      </form>
    </div>

    <h1>{{msg}}</h1>
</div>



<!--
<app-contact-us></app-contact-us>
-->
